#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
    z-index: 9999;
    /* Asegura que el overlay esté por encima de todo */
    display: none;
    /* Por defecto, oculto */
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid rgba(255, 255, 255, 0.3);
    /* Borde del spinner */
    border-top: 3px solid #fff;
    /* Borde superior del spinner */
    border-radius: 50%;
    /* Hace que el spinner sea redondo */
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    /* Animación de giro */
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media (max-width: 768px) {

    /* ajusta según sea necesario */
    #paginationContainer .page-item {
        font-size: 0.8rem;
        /* ajusta el tamaño de la fuente */
        margin-right: 5px;
        /* ajusta el espaciado entre elementos */
    }
}

table.text-small td,
table.text-small th {
    font-size: 12px;
    /* Tamaño de fuente deseado */
}

.fc-disabled-cell {
    pointer-events: none;
    /* Deshabilita la interacción con el mouse */
    opacity: 0.5;
    /* Opacidad para mostrar que está deshabilitado */
    background-color: #ebd1d1;
    /* Color de fondo */
    color: #1f1d1d;
}

.alertify-notifier .ajs-message.ajs-error {
    color: white;
}

.alertify-notifier .ajs-message.ajs-success {
    color: white;
}

.ui-autocomplete {
    z-index: 9999 !important;
    /* Ajusta el valor según sea necesario */
}

.modal {
    z-index: 1050;
    /* Ajusta el valor según sea necesario */
}

.event-container {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 5px;
    margin-bottom: 5px;

    /*height: 60px;*/
}

.fc-timegrid-event-harness {
    display: grid;
    place-items: center;
    /*height: auto !important;
    /* Ajusta automáticamente la altura */
}

.fc-timegrid-event-harness a {
    display: block;
    width: 100%;
    height: 100%;
  }

.fc-title {
    font-size: 9px;
    font-weight: bold;
    margin-bottom: 2px;
    
}

.fc-title-ocupado {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}

.fc-time {
    font-size: 10px;
    color: #f8f9fa;
    font-weight: bold;
}

.fc-event{
    cursor: pointer;
}

.event-title {
    font-weight: bold;
}

.event-span {
    display: block;
    font-size: 10px;
    color: red;
}

.event-time {
    font-size: 12px;
    color: #6c757d;
}

.span-horas {
    border-radius: 30%;
    padding-left: 5px;
    padding-right: 5px;
}

.img-perfil-tabla{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}